<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<typeAliases>
	<typeAlias type="com.spring.poosil.logindto.LoginDto" alias="loginDto"/>
	<typeAlias type="com.spring.poosil.bookduck.paydto.PayDto" alias="payDto"/>
</typeAliases>
<mappers>
	<mapper resource="/mybatis/login-mapper.xml"/>
	<mapper resource="/mybatis/pay-mapper.xml"/>
</mappers>



</configuration>
